@import "bootstrap-scss/bootstrap";

.header {
    width: 100%;
    background-color: #EEE;
    text-align: center;
}

.player {
    width: 100%;
    background: #333;
    color: #FFF;
    position: absolute;
    bottom: 0;
    height: 3rem;
}